@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}
.header-texts {
  display: flex;
  gap: 30px;
}
.offcanvas {
  display: flex;
}
.button {
  border: 1px black solid;
  padding: 12px 20px;
  border-radius: 25px;
  color: black;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-size: large;
}
header {
  /* background-color: #f7f7f7; */
  padding: 0px 100px;
}
.navbar {
  background-color: blue;
}
.my-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 90px;
  padding: 0px 30px;
}

.logo {
  object-fit: cover;
  width: 150px;
}
.icons {
  display: flex;
}
.info-email {
  display: none;
}
ul {
  list-style-type: none;
}
.first-section {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 70px;
  width: 800px;
  margin-bottom: 30px;
  text-align: center;
}
.sub-title {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
}
.section-with-button {
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.big-photo {
  width: 100vw;
}
body {
  background-color: #f7f7f7;
  padding-top: 25px;
  position: relative;
}
.second-section {
  display: flex;
  width: 100vw;
  padding: 0px 100px;
  position: absolute;
  top: 1090px;
}
.second-section-container {
  background-color: white;
  padding: 120px 90px 0px 90px;
  border-radius: 10px;
}
.second-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-title {
  font-size: 35px;
  width: 500px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}
.content-wrapper {
  position: relative;
}
.section-with-support {
  background-color: blue;
  display: flex;
  gap: 20px;
  padding: 0px 20px;
  margin-bottom: 100px;
}
.comp-top {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.comp-top-text {
  text-align: center;
}
.stragety-section {
  display: flex;
  gap: 20px;
}
.stragety-section-comp {
  width: 50%;
}
.line {
  border: solid 3px red;
  margin: 90px 0px;
}
.company-section {
  display: flex;
  margin-bottom: 70px;
}
.numbers {
  margin-top: 70px;
  display: flex;

  width: 100%;
  justify-content: space-around;
}
.number {
  font-size: 40px;
}
.number-bottom-text {
  color: #9c9c9c;
}
.big-card {
  background-color: blueviolet;
}
.child-big-card {
  display: flex;
}
.case-title {
  background-color: red;
  display: flex;
  justify-content: center;
}
.case-title-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-swiper-section {
  display: flex;
}
.figcaption-read-more {
  display: none;
}
.swiper-card-container {
  overflow: hidden;
  border-radius: 18px;
}
footer {
  width: 100vw;
  background-color: palegreen;
}
.next-section-sub-title {
  margin-bottom: 15px;
  font-weight: 200;
  color: #9c9c9c;
}
