@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}
.header-texts {
  display: flex;
  gap: 30px;
}
.offcanvas {
  display: flex;
}
.button {
  border: 1px #343f50 solid;
  padding: 12px 20px;
  border-radius: 25px;
  color: #343f50;
  font-size: 20px;
}
.button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
  font-size: large;
}
header {
  padding: 0px 100px;
}

.my-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 90px;
  padding: 0px 30px;
}

.logo {
  object-fit: cover;
  width: 150px;
}
.icons {
  display: flex;
}
.info-email {
  display: none;
}
ul {
  list-style-type: none;
}
.first-section {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 70px;
  width: 800px;
  margin-bottom: 30px;
  text-align: center;
  color: #343f50;
}
.sub-title {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
}
.section-with-button {
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.big-photo {
  width: 100vw;
}
/* ------------------------------------------->>>>>>>>>>>>> */

.big-photo-container {
  margin-bottom: 4260px;
}

/* ------------------------------------------->>>>>>>>>>>>> */
body {
  background-color: #f7f7f7;
  padding-top: 25px;
  position: relative;
}
.second-section {
  display: flex;
  width: 100vw;
  padding: 0px 100px;
  position: absolute;
  top: 1090px;
}
.second-section-container {
  background-color: white;
  padding: 120px 90px 0px 90px;
  border-radius: 10px;
}
.second-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-title {
  width: 700px;
  text-align: center;

  margin-bottom: 30px;
}
.content-wrapper {
  position: relative;
}
.section-with-support {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section-with-support-comp {
  width: 350px;
}
.section-with-support h4 {
  width: 300px;
  color: #343f50;
  font-size: 20px;
  text-align: center;
}
.section-with-support p {
  width: 300px;
  color: #343f50;
  font-size: 18px;
}
.comp-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}
.comp-top-text {
  text-align: center;
}
.stragety-section {
  display: flex;
  gap: 50px;
}
.stragety-section-comp {
  width: 50%;
}
.line {
  /* border: solid 3px red; */
  border: solid 1px #dbdbdb;
  margin: 100px 0px;
}
.company-section {
  display: flex;
  margin-bottom: 70px;
}
.numbers {
  margin-top: 70px;
  display: flex;

  width: 100%;
  justify-content: space-around;
}
.number {
  font-size: 40px;
  color: #343f50;
}
.number-bottom-text {
  color: #9c9c9c;
}
.big-card {
  background-color: #f3f3f3;
  overflow: hidden;
  border-radius: 10px;
}
.child-big-card {
  display: flex;
}
.case-title {
  display: flex;
  justify-content: center;
}
.case-title-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-swiper-section {
  display: flex;
  gap: 25px;
}
.figcaption-read-more {
  display: none;
}
.swiper-card-container {
  overflow: hidden;
  border-radius: 18px;
  margin-bottom: 10px;
}
footer {
  width: 100%;
  color: white;
  background-color: #343f50;
  padding: 200px 100px 20px 100px;
}
.next-section-sub-title {
  margin-bottom: 15px;
  font-weight: 200;
  color: #9c9c9c;
}
.big-title {
  font-size: 40px;
  color: #343f50;
}
.post-header {
  margin-bottom: 10px;
}
.post-meta {
  display: flex;
  color: #9c9c9c;
  gap: 15px;
}
.post-comments {
  color: #9c9c9c;
}
.small-text {
  color: #343f50;
  font-size: 20px;
}
.color-white {
  color: #dcdcdc;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
li {
  list-style-type: none;
  list-style: none;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.df {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  border-radius: 12px;
}

.mb-10 {
  margin-bottom: 10px;
  color: #343f50;
  font-size: 18px;
}

button {
  font-size: 18px;
  border: none;
  background-color: none;
  background: none;
  gap: 20px;
  display: flex;
  font-weight: 600;
  color: #343f50;
}
